body {
    margin: 0;
    font-family: Arial,sans-serif;
    background-image: url("Images/bg1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  }
  h1{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  nav{
    text-align: center;
    background-color:chocolate;
    padding: 50px; 
 }

  #nav1{
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Lucida sans';
    font-size: 30px;
    font-weight: bolder;
  }

#nav1:hover{
    background-color: yellow;
    transition-duration: 1s;
}

.story{
  background-color: wheat;
  font-size: 25px;
  font-family: 'Arial Narrow Bold';
}

#branches{
  font-size:50px; font-style:cursive;
  color:brown;
  font-weight: 600;
  
  
}
#city{
    font-size:50px; font-style:cursive;
  color: black;
  font-weight: 400;
}
table{
    border-collapse: separate;
    border-spacing: 5px;
    border-style: solid;
}